var path=requiere('path');
const webpack=requiere('webpack');
const htmlWebPackPlugin=requiere('html-webpack-plugin');






module.exports={



    mode : 'development',
    entry : './client/index.html',
    output :{
        path : path.join(__dirname ,'dist'),
        filname : bundle.js
    },
    module:{[
        rules:{
            use:['style-loader','css-loader']
        }
    ]},
    plugins:
    [
        new htmlWebPackPlugin({
        template: './client/indexB.html'   
        })
    ]

    
}